h1 {text-align: center; 
}
h2 {text-align: center;
}
body {background-color: blue;
}
h1 {color:aliceblue white
}
h2 {color:mintcream
}
#cantor {text-align: center;
}
#manoel {text-align: center;
}
#feliz {text-align: center;
}
#cantor {width: 300px;}